server:
  port: 8080

spring:
  application:
    name: vine-agent-client
  profiles:
    active: dev
  ai:
    openai:
      api-key: sk-c303a42651164c61992008b00bf2c6b7
      base-url: https://api.deepseek.com
      chat:
        options:
          model: deepseek-chat


logging:
  level:
    root: INFO
